<section class='container mt-3'>
  <% provide :page_title, t('menu.admin_page') %>
  <% currently_at t('menu.admin_page') %>
  <h1 class='mb-4 mx-4'><%= t('.admin_title') %></h1>
  <div class='row row-cols-2 mt-2'>
    <div class='col first-item'>
      <article class='card box'>
        <div class="card-body p-5">
          <h2 class="card-title mb-4"><%= i18n_model_name(@personal_detail) %></h2>
          <div class= "card-text">
            <%= turbo_frame_tag dom_id(@personal_detail) do %>
              <%= link_to t('link.add_new', model: i18n_model_name(@personal_detail).downcase), 
                new_user_personal_detail_path(@user), class: "btn btn-outline-dark mb-4" %>
              <%= render @personal_details if @personal_details.present? %>
            <% end %>
          </div>
        </div>
      </article>
    </div>
    <div class='col second-item'>
      <article class='card box'>
        <div class="card-body p-5">
        <h2 class="card-title mb-4"><%= i18n_model_name(@contact) %></h2>
          <div class= "card-text">
            <%= turbo_frame_tag dom_id(@contact) do %>
              <%= link_to t('link.add_new', model: i18n_model_name(@contact).downcase), 
                new_user_contact_path(@user), class: "btn btn-outline-dark mb-4" %>
            <% end %>
            <%= render @contacts if @contacts.present? %>
          </div>
        </div>
      </article>
    </div>
  </div>
  <div class='row'>
    <article class='card col mt-2 ms-4 card-position'>
      <div class="card-body p-5">
        <h2 class="card-title mb-4"><%= i18n_model_name(@course, count: 2) %></h2>
        <div class= "card-text">
          <%= turbo_frame_tag dom_id(@course) do %>
            <%= link_to t('link.add_new', model: i18n_model_name(@course).downcase), 
              new_user_course_path(@user), class: "btn btn-outline-dark mb-4" %>
          <% end %>
          <% if @courses.present? %> 
            <div class='row row-cols-3'>
              <%= render @courses %>
            </div>
            <div class='my-2 main_body'>
              <%== pagination(@pagy_course) %>
            </div>
          <% end %>
        </div>
      </div>
    </article>
  </div>
  <div class='row'>
    <article class='card col mt-2 ms-4 card-position'>
      <div class="card-body p-5">
        <div class= "card-text">
          <h2 class="card-title mb-4"><%= i18n_model_name(@education) %></h2>
          <%= turbo_frame_tag dom_id(@education) do %>
            <%= link_to t('link.add_new', model: i18n_model_name(@education).downcase), 
              new_user_education_path(@user), class: "btn btn-outline-dark mb-4" %>
          <% end %>
          <div class='row row-cols-3'>
            <%= render @educations if @educations.present? %>
          </div>
        </div>
      </div>
    </article>
  </div>
  <div class='row'>
    <article class='card col mt-2 ms-4 card-position'>
      <div class="card-body p-5">
        <h2 class="card-title mb-4"><%= i18n_model_name(@experience) %></h2>
        <div class= "card-text">
          <%= turbo_frame_tag dom_id(@experience) do %>
            <%= link_to t('link.add_new', model: i18n_model_name(@experience).downcase), 
                new_user_experience_path(@user), class: "btn btn-outline-dark mb-4" %>
          <% end %>
          <% if @experiences.present? %>
            <div class='row row-cols-2'>
              <%= render @experiences %>
            </div>
            <div class='my-2 main_body'>
              <%== pagination(@pagy_experience) %>
            </div>
          <% end %>
        </div>
      </div>
    </article>
  </div>
  <div class='row'>
    <article class='card col mt-2 ms-4 card-position'>
      <div class="card-body p-5">
        <h2 class="card-title mb-4"><%= i18n_model_name(@project, count: 2) %></h2>
        <div class= "card-text">
          <%= turbo_frame_tag dom_id(@project) do %>
            <%= link_to t('link.add_new', model: i18n_model_name(@project).downcase), 
              new_user_project_path(@user), class: "btn btn-outline-dark mb-4" %>
            <% if @projects.present? %>
              <div class='row row-cols-2'>
                <%= render @projects  %>
              </div>
              <div class='my-2 main_body'>
                <%== pagination(@pagy_project) %>
              </div>
            <% end %>
          <% end %>
        </div>
      </div>
    </article>
  </div>
  <div class='row'>
    <article class='card col mt-2 skill-admin'>
      <div class="card-body p-5">
        <h2 class="card-title mb-4"><%= i18n_model_name(@skill, count: 2) %></h2>
        <div class= "card-text">
          <%= turbo_frame_tag dom_id(@skill) do %>
            <%= link_to t('link.add_new', model: i18n_model_name(@skill).downcase), 
            new_user_skill_path(@user), class: "btn btn-outline-dark mb-4"  %>
          <% end %>
          <% if @skills.present? %>
            <div class='row row-cols-3'>
              <%= render @skills %>
            </div>
            <div class='my-2 main_body'>
              <%== pagination(@pagy_skill) %>
            </div>
          <% end %>
        </div>
      </div>          
    </article>
  </div>
</section>