<article>
  <%= turbo_frame_tag dom_id(personal_detail) do %>
    <p>
      <%#= image_tag @personal_detail.photo, width: '200px', class: "rounded-circle d-block", style: 'margin-right: auto;
      margin-left: 0;' if @personal_detail.photo.attached? %><br />
    </p>
    <p>
      <strong><i><%= attribute_model(personal_detail, :full_name) %>:</i></strong>
      <%= strip_tags personal_detail.full_name %>
    </p>
    <p>
      <strong><i><%= attribute_model(personal_detail, :position) %>:</i></strong>
      <%= strip_tags personal_detail.position %>
    </p>
    <p>
      <strong><i><%= attribute_model(personal_detail, :about) %>:</i></strong>
      <%= simple_format personal_detail.about, class: 'text-justify' %>
    </p>
    <%= link_to t('link.edit', model: i18n_model_name(personal_detail).downcase), edit_personal_detail_path(personal_detail),
    class: "btn btn-outline-dark mb-4 mx-1" %>
  <% end %>
  <%= button_to t('submit.delete', model: i18n_model_name(personal_detail).downcase), personal_detail_path(personal_detail), 
    method: :delete, class: "btn btn-outline-dark mb-4 mx-1", :onclick => "return confirm('Are you sure?')", :remote => true %>  
</article>
