<article class='col my-4'>
  <%= turbo_frame_tag dom_id(skill) do %>
    <p><strong><%= skill.skillname %></strong></p>
    <p><%= simple_format skill.description, class: 'test-justify' %></p>
    <%= link_to t('link.edit', model: i18n_model_name(skill).downcase), edit_skill_path(skill),
        class: "btn btn-outline-dark mb-4 mx-1" %>
  <% end %>
  <%= button_to t('submit.delete', model: i18n_model_name(skill).downcase), skill_path(skill), 
      method: :delete, class: "btn btn-outline-dark mb-4 mx-1", :onclick => "return confirm('Are you sure?')", :remote => true %>  
</article>
