<section class='line my-4'>
  <p>
    <strong><%= skill.skillname %></strong>
    <strong><%= skill.description %></strong>
  </p>
  <%= turbo_frame_tag "skill_#{skill.id}" do %>
    <%= link_to t('link.edit', model: i18n_model_name(skill).downcase), edit_skill_path(skill),
      class: "btn btn-outline-dark mb-4 mx-1" %>
  <% end %>
  <%= button_to t('submit.delete', model: i18n_model_name(skill).downcase), skill_path(skill), 
    method: :delete, class: "btn btn-outline-dark mb-4 mx-1", :onclick => "return confirm('Are you sure?')", :remote => true %>  
</section>