<article class='my-4'>
  <h4><%= project.title %></h4>
  <p>
    <%= simple_format project.description %>
  </p>
    <%# if project.previews.attached? %>
      <%# project.previews.each do |img| %>
      <%# <div class='img_block'> %>
        <%#= image_tag img, class: "d-block img" %>
      <%# </div> %>
      <%# end %>
    <%# end %>
  <% unless project.site.blank? %>
    <%= link_to("#{project.site}", target: :_blank) do %>
      <i class="bi bi-box-arrow-up-right"></i>
      <%= t('link.on_website') %>
    <% end %>
  <% end %>
  <%= link_to("#{project.github}", target: :_blank) do %>
    <i class="bi bi-box-arrow-up-right"></i>
    <%= t('link.on_github') %>
  <% end %>
</article>
