<section class="main_caption">
  <div class='container'>
    <div class='row mt-2 px-5'>
      <% if @personal_details && @contact %>
        <div class='col-3'>
          PHOTO
        </div>
        <div class='col-6 text-start'>
          <h1 class='full_name'><%= @personal_details.capitalize_full_name %></h1>
          <h1 class='position'><%= @personal_details.position %></h1>
        </div>
        <div class='col-3 contact text-end mt-4'>
          <p>
            <%= link_to("https://t.me/#{@contact.telegram.delete('@')}", class: "btn btn-outline-dark", 
              target: :_blank) do %>
              <i class="bi bi-telegram"></i>
              <%= t('contact.contact_me') %>
            <% end %>
          </p>
          <p>
            <%= link_to("mailto: #{@contact.email}", class: "btn btn-outline-dark") do %>  
              <i class="bi bi-envelope-at-fill"></i>
              <%= t('contact.contact_me') %>
            <% end %>
          </p>
          <p>
            <%= link_to("tel:#{@contact.phone}",  class: "btn btn-outline-dark") do %>
              <i class="bi bi-telephone-fill"></i>
              <%= t('contact.contact_me') %>
            <% end %> 
          </p>
        </div>
      <% else %>
        <%= t('home.blank_data') %>
      <% end %>
    </div>
  </div>
</section>
