<section>
  <% provide :page_title, t('menu.main_page') %>
  <% currently_at t('menu.main_page') %>
  <%= render 'title' %>
  <div class='container mt-3'>
    <div class='row'>  
      <div class="col-8">
        <section class='row'>
          <div class="col p-3 border bg-light main_body card">
            <div class='card-body'>
              <h3 class='card-title'><%= i18n_model_name(Experience.new) %></h3>
              <div class='card-text'>
                <%= render partial: 'experience', collection: @experiences if @experiences.try(:any?) %>
                <%= t('page.blank') unless @experiences.try(:any?) %>
                <div class='my-2'>
                  <%== pagy_bootstrap_nav @pagy_experience if @pagy_experience.pages > 1 %>
                </div>
              </div>
            </div>
          <div>
        </section>
        <section class='row'>
          <div class="col p-3 border bg-light main_body card">
            <div class='card-body'>
              <h3 class='card-title'><%= i18n_model_name(Education.new) %></h3>
              <div class='card-text'>
                <%= render partial: 'education', collection: @educations if @educations.try(:any?) %>
                <%= t('page.blank') unless @educations.try(:any?) %>
              </div>
            </div>
          </div>
        </section>
        <section class='row'>
          <div class="col p-3 border bg-light main_body card">
            <div class='card-body'>
              <h3 class='card-title'><%= i18n_model_name(Project.new, count: 2) %></h3>
              <div class='card-text'>
                <%= render partial: 'project', collection: @projects if @projects.try(:any?) %>
                <%= t('page.blank') unless @projects.try(:any?) %>
                <div class='my-2'>
                  <%== pagy_bootstrap_nav @pagy_experience if @pagy_project.pages > 1 %>
                </div>
              </div>
            </div>
          </div>
        </section>
        <section class='row'>
          <div class="col p-3 border bg-light main_body card">
            <div class='card-body'>
              <h3 class='card-title'><%= attribute_model(PersonalDetail.new, :about) %></h3>
              <div class='card-text'>
                <%= render 'about' if @personal_details.present? %>
                <%= t('page.blank') unless @personal_details.try(:any?) %>
              </div>
            </div>
          </div>
        </section>
      </div>
      <div class="col-4">
        <section class='row'>
          <div class="col p-3 border bg-light main_body card">
            <div class='card-text'>
              <%= render 'contact' if @contact.present? %>
              <%= t('page.blank') unless @contact.try(:any?) %>
            </div>
          </div>
        </section>
        <section class='row'>
          <div class="col p-3 border bg-light main_body card">
            <div class='card-body'>
              <h3 class='card-title'><%= i18n_model_name(Skill.new, count: 2) %></h3>
              <div class='card-text'>
                <div class='my-2'>
                  <%== pagy_bootstrap_nav @pagy_skill if @pagy_skill.pages > 1 %>
                </div>
                <%= render partial: 'skill', collection: @skills if @skills.try(:any?) %>
                <%= t('page.blank') unless @skills.try(:any?) %>
              </div>
            </div>
          </div>
        </section>
        <section class='row'>
          <div class="col p-3 border bg-light main_body card">
            <div class='card-body'>
              <h3 class='card-title'><%= i18n_model_name(Course.new, count: 2) %></h3>
              <div class='card-text'>
                <%= render partial: 'course', collection: @courses if @courses.try(:any?) %>
                <%= t('page.blank') unless @courses.try(:any?) %>
              </div>
            </div>
          </div>
        </section>
      </div>
    </div>
  </div>
</section>