<section>
  <% provide :page_title, t('menu.main_page') %>
  <% currently_at t('menu.main_page') %>
  <%= render 'title' %>
  <div class='container mt-3'>
    <div class='row'>  
      <div class="col-8">
        <section class='row'>
          <div class="col p-3 border bg-light main_body card">
            <div class='card-body'>
              <h3 class='card-title'><%= i18n_model_name(Experience.new) %></h3>
              <div class='card-text'>
                <%= render partial: 'experience', collection: @experiences if @experiences.try(:any?) %>
                <%= t('page.blank') unless @experiences.try(:any?) %>
                <div class='my-2'>
                  <%== pagination(@pagy_experience) %>
                </div>
              </div>
            </div>
          <div>
        </section>
        <section class='row'>
          <div class="col p-3 border bg-light main_body card">
            <div class='card-body'>
              <h3 class='card-title'><%= i18n_model_name(Education.new) %></h3>
              <div class='card-text'>
                <%= render partial: 'education', collection: @educations if @educations.try(:any?) %>
                <%= t('home.blank_data') unless @educations.try(:any?) %>
              </div>
            </div>
          </div>
        </section>
        <section class='row'>
          <div class="col p-3 border bg-light main_body card">
            <div class='card-body'>
              <h3 class='card-title'><%= i18n_model_name(Project.new, count: 2) %></h3>
              <div class='card-text'>
                <% if @projects.try(:any?) %>
                  <%= render partial: 'project', collection: @projects %>
                  <div class='my-2'>
                    <%== pagination(@pagy_experience) %>
                  </div>
                <% else %>
                  <%= t('home.blank_data') %>
                <% end%>
              </div>
            </div>
          </div>
        </section>
        <section class='row'>
          <div class="col p-3 border bg-light main_body card">
            <div class='card-body'>
              <h3 class='card-title'><%= attribute_model(PersonalDetail.new, :about) %></h3>
              <% if @personal_details.present? %>
                <div class='card-text'>
                  <%= render 'about' %>
                </div>
              <% else %>
                <%= t('home.blank_data') %>
              <% end%>
            </div>
          </div>
        </section>
      </div>
      <div class="col-4">
        <section class='row'>
          <div class="col p-3 border bg-light main_body card">
            <div class='card-text'>
              <%= render 'contact' if @contact.present? %>
              <%= t('home.blank_data') unless @contact.try(:any?) %>
            </div>
          </div>
        </section>
        <section class='row'>
          <div class="col p-3 border bg-light main_body card">
            <div class='card-body'>
              <h3 class='card-title'><%= i18n_model_name(Skill.new, count: 2) %></h3>
              <div class='card-text'>
                <% if @skills.try(:any?) %>
                  <div class='my-2'>
                    <%== pagination(@pagy_skill) %>
                  </div>
                  <%= render partial: 'skill', collection: @skills %>
                <% else %>
                  <%= t('home.blank_data') %>
                <% end %>
              </div>
            </div>
          </div>
        </section>
        <section class='row'>
          <div class="col p-3 border bg-light main_body card">
            <div class='card-body'>
              <h3 class='card-title'><%= i18n_model_name(Course.new, count: 2) %></h3>
              <div class='card-text'>
                <% if @courses.try(:any?) %>
                  <div class='my-2'>
                    <%== pagination(@pagy_course) %>
                  </div>
                  <%= render partial: 'course', collection: @courses %>
                <% else %>
                  <%= t('home.blank_data') %>
                <% end %>
              </div>
            </div>    
          </div>
        </section>
      </div>
    </div>
  </div>
</section>