<p>
  <b><i style='font-size: 20px'><%= @project.title %></i></b><br />
  <% unless @project.site.blank? %>
    <i><%= attribute_model(@project, :site) %> </i><a href="<%= @project.site %>" class='text-dark text-decoration-none'><%= @project.site %></a><br />
  <% end %>
  <i><%= attribute_model(@project, :github) %> <a href="<%= @project.github %>" class='text-dark text-decoration-none'><%= @project.github %></a></i><br />
  <i><%= attribute_model(@project, :description) %> <%= @project.description %><br />
  
  <%# if project.previews.attached? %>
    <%# project.previews.each do |img| %>
    <%# <div class='img_block'> %>
      <%#= image_tag img, class: "d-block img" %>
    <%# </div> %>
    <%# end %>
  <%# end %>
</p>
