<section class='line my-4'>
  <p>
    <strong><i><%= attribute_model(education, :name_organization) %> </i></strong><br />
    <%= education.name_organization %>
  </p>
  <p>
    <strong><i><%= attribute_model(education, :degree) %> </i></strong>
    <%= education.degree %>
  </p>
  <p>
    <strong><i><%= attribute_model(education, :field_of_study) %> </i></strong>
    <%= education.field_of_study %>
  </p>
  <p>
    <strong><i><%= attribute_model(education, :date_of_end) %> </i></strong>
    <%= education.date_of_end.strftime('%Y') %>
  </p> 
  <%= turbo_frame_tag "education_#{education.id}" do %>
    <%= link_to t('link.edit', model: i18n_model_name(education).downcase), edit_education_path(education),
      class: "btn btn-outline-dark mb-4 mx-1" %>
  <% end %>
  <%= button_to t('submit.delete', model: i18n_model_name(education).downcase), 
    education_path(education), method: :delete, class: "btn btn-outline-dark mb-4 mx-1", 
    :onclick => "return confirm('Are you sure?')", :remote => true %> 
</section>