<article class='col my-4'>
  <%= turbo_frame_tag dom_id(education) do %>
    <p>
      <strong><i><%= attribute_model(education, :name_organization) %>:</i></strong><br />
      <%= strip_tags education.name_organization %>
    </p>
    <p>
      <strong><i><%= attribute_model(education, :degree) %>:</i></strong>
      <%= strip_tags education.degree %>
    </p>
    <p>
      <strong><i><%= attribute_model(education, :field_of_study) %>:</i></strong>
      <%= strip_tags education.field_of_study %>
    </p>
    <p>
      <strong><i><%= attribute_model(education, :date_of_end) %>:</i></strong>
      <%= education.date_of_end.strftime('%Y') %>
    </p> 
    <%= link_to t('link.edit', model: i18n_model_name(education).downcase), edit_education_path(education),
      class: "btn btn-outline-dark mb-4 mx-1" %>
  <% end %>
  <%= button_to t('submit.delete', model: i18n_model_name(education).downcase), 
    education_path(education), method: :delete, class: "btn btn-outline-dark mb-4 mx-1", 
    :onclick => "return confirm('Are you sure?')", :remote => true %> 
</article>