<p>
  <b><i><%= attribute_model(@education, :name_organization) %> </i></b><br /><%= @education.name_organization %><br />
  <b><i><%= attribute_model(@education, :degree) %> </i></b><%= @education.degree %><br />
  <b><i><%= attribute_model(@education, :field_of_study) %> </i></b><%= @education.field_of_study %><br />
  <b><i><%= attribute_model(@education, :date_of_end) %> </i></b><%= @education.date_of_end.strftime('%Y') %>
</p>