<!DOCTYPE html>
<html>
  <head>
    <meta charset='utf-8'>
    <title><%= full_title(yield(:page_title)) %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload", media: 'all' %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
  </head>
  <body>
    <div class='wrapper'>
      <%= yield :main_menu %>
      
      <main class='container content'>
        <% flash.each do |type, msg| %>    
          <!-- Change flash messages of devise to bootstrap format -->
          <% case type %>
          <% when 'alert'%>
            <% type = 'danger' %>
          <% when 'notice' %>
            <% type = 'success' %>
          <% end %>

          <%= tag.div msg, class: "alert alert-#{type} text-center", role: 'alert' %>
        <% end %>

        <%= yield %>
      </main>
      <%= render 'layouts/footer' %>
    </div>
  </body>
</html>
