<!DOCTYPE html>
<html>
  <head>
    <title>OnlineCv</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <%= render 'layouts/header'%>
    <main>   
      <% flash.each do |type, msg| %>    
        <!-- Change flash messages of devise to bootstrap format -->
        <% case type %>
          <% when 'alert'%>
            <% type = 'danger' %>
          <% when 'notice' %>
            <% type = 'success' %>
          <% end %>
                  
        <div 
          class="alert alert-<%= type %> flash__message" ,
          role="alert", 
          data-controller="removals", 
          data-action="animationend->removals#remove">
        
            <p class='text-center'><%= msg %></p>
        
        </div>
      <% end %>

      <%= yield %>
    </main>
  </body>
</html>
